
.element {
  height: 1000px;
  /* background-color: #ededed; */
  border-top: 1px solid #000;
  padding-top: 55px;
  padding-left: 10px;
}

.element.no-padding {
  padding-top: 0;
}

.element.last {
  height: 500px;
}

.carousel-indicators li{
  background-color: black; 
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}
.active {
  color: red !important;
}
