
.element {
  height: 1000px;
  /* background-color: #ededed; */
  border-top: 1px solid #000;
  padding-top: 55px;
  padding-left: 10px;
}

.element.no-padding {
  padding-top: 0;
}

.active {
  color: red !important;
}
