@import url('https://fonts.googleapis.com/css?family=Lato');


body{
  font-family: 'Lato', serif;
}

.element {
  height: 1000px;
  /* background-color: #ededed; */
  border-top: 1px solid #000;
  padding-top: 55px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;  
}


.text-element {
  color: azure;

}

.element.no-padding {
  padding-top: 0;
}

.element.last {
  height: 500px;
  
}

.carousel-indicators li{
  background-color:'none'; 
  margin-bottom: 0;
}

.carousel-indicators{
  margin-bottom: 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: rgb(32, 34, 34);
}

.carousel-control-prev-icon:before {
  content: '<';
  font-size: 30px;
  color: rgb(32, 34, 34);
}
.active {
  color: rgb(32, 34, 34) !important;
}
